<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Skill Swap</title>
</head>
<body>
    
    <header>
        <h1>Skill Swap Home</h1>
    </header>

    <h2 id="juniorlbl" style="color: rgb(90, 26, 150);">Past Alumni</h2>

    

</body>
</html>