<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Skill Swap Network</h1>
    </header>
    <h1>Create a new Account</h1>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" >
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        <br><br>
        <label for="skills">Skills:</label> (one word)
        <input type="text" id="skills" name="skills">
        <br><br>
        <label for="description">Describe your skill(s):</label>
        <textarea name="description" id="description" cols="30" rows="2"></textarea>
        <br><br>
        <label for="seeking">What job are you seeking:</label>
        <textarea name="seeking" id="seeking" cols="30" rows="2"></textarea>
        <br><br>
        <button type="submit">Sign Up</button>
        <p>Have an account already? Sign in -> <a href="/">Sign in</a></p>
    </form>
</body>
</html>