<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Skill Swap Network</title>
</head>
<body>
    <header>
        <h1>Skill Swap Network Home</h1>
    </header>
    <main>
        <button id="logout" onclick="window.location.href = '/login'">Logout</button>
        <h2>User Profiles</h2>
        <section id="user-profiles">
            <% users.forEach(user => { %>
                <div class="user-profile">
                    <h3><%= user.Name %></h3>
                    <p>Skills: <%= user.Skills %></p>
                    <p>Seeking Job in: <%= user.Seeking %></p>
                </div>
            <% }); %>
        </section>

        <h2>Skills</h2>
        
    </main>
    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>
</body>
</html>