<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Swap Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Skill Swap Network</h1>
    </header>

    <% if (typeof error !=='undefined' ) { %>
        <p>
            <%= error %>
        </p>
    <% } %>

    <!-- Login form -->
    <h1 style="text-align: center;">Log in</h1>
    <p style="text-align: center;">Enter Username and Password</p>
    <form id="login" action="/login" method="post">
        <!-- Username input -->
        <label for="username">Username:</label>
        <input class="t-box" type="text" id="username" name="username" autocomplete="username" required>
        <br><br>
        <!-- Password input -->
        <label for="password">Password:</label>
        <input class="t-box" type="password" id="password" name="password" autocomplete="current-password" required>
        <button id="loginbtn" type="submit">Log in</button>
        <!-- Link to create account page -->
        <p>Don't have an account? Make one -> <a href="/create">Create account</a></p>
    </form>


</body>

</html>