<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta name="viewport" content="width=device-width">
    <title>Skill Swap Network</title>
    <link rel="stylesheet" href="/style.css">
</head>
 
<body>
    <header>
        <h1>Skill Swap Users</h1>
    </header>
 
    <div id="profilePage">
        <button id="logoutbtn" onclick="window.location.href = '/index'">Back to Home</button>
        <br>

 
        <% users.forEach(user => { %>
            <h1>
                <%= user.Name %>'s Profile
            </h1>
            <% if (user.Skills !=null || user.Skills !="" ) { %>
                <p>Skills: <%= user.Skills %></p>
                <% } else {%>
                    <p>No skills listed</p>
                    <% } %>
                        <% if (user.Seeking !=null || user.Seeking !="" ) { %>
                            <p>Seeking Job in: <%= user.Seeking %>
                            </p>
                            <% } else {%>
                                <p>No job preferences listed</p>
                                <% } %>
 
                                    <p>About Me: <%= user.Description %>
                                    </p>
                                    <% }); %>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">File</label>
            <input id="file" name="file" type="file" />
            <button>Upload</button>
            <script src="script.js"></script>
        </form>
 
    </div>
    <button id="logoutbtn" onclick="window.location.href = '/login'">Logout</button>
</body>
<footer>
    <p>&copy; Skill Swap Network</p>
</footer>
 
</html>