<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>Skill Swap Network</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="profilePage">
        <h1>
            <%= users.Name %>'s Profile
        </h1>
        <% if (users.Skills != null || users.Skills != "") { %>
            <p>Skills: <%= users.Skills %></p>
        <% }  else {%>
            <p>No skills listed</p>
        <% } %>

        <% if (users.Seeking != null || users.Seeking != "") { %>
            <p>Seeking Job in: <%= users.Seeking %></p>
        <% }  else {%>
            <p>No job preferences listed</p>
        <% } %>
        

        <p>About Me: <%= users.Description %></p>
    </div>
    <button id="logoutbtn" onclick="window.location.href = '/login'">Logout</button>
</body>
<footer>
    <p>&copy; Skill Swap Network</p>
</footer>
</html>