<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>Skill Swap Network</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Skill Swap Network</h1>
    </header>

    <div id="profilePage">
        <button id="logoutbtn" onclick="window.location.href = '/index'">Back to Home</button>
        <% users.forEach(user => { %>
        <h1>
            <%= user.Name %>'s Profile
        </h1>
        <p>Skills: <%= user.Skills %>
        </p>
        <p>Seeking Job in: <%= user.Seeking %>
        </p>
        <% }); %>
        <br>
    </div>
</body>
<footer>
    <p>&copy; Skill Swap Network</p>
</footer>

</html>