<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Swap Gallery</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    h2 {
        text-align: center;
    }
</style>

<body>
    <header>
        <h1>Skill Swap Company Showcase</h1>
    </header>
    <br>
    <button id="logoutbtn" onclick="window.location.href = '/index'">Back to Home</button>
    <h2>Post a picture of what your company does!</h2>

    <script>
        window.onload = function () {
            let imageArray = [
                'images/fb1.jpg',
                'images/fb2.jpg',
                'images/fb3.jpg',
                'images/fb4.jpg',
                'images/fb5.jpg',
                'images/fb6.jpg',
            ];
    
            let container = document.createElement('div');
            container.style.display = 'flex';
            container.style.justifyContent = 'center';
            container.style.flexWrap = 'wrap';
    
            imageArray.forEach(imagePath => {
                let img = document.createElement('img');
                img.src = imagePath;
                container.appendChild(img);
            });
    
            document.body.appendChild(container);
        }
    </script>

    <footer>
        <p class="footerText">&copy; Skill Swap Network</p>
    </footer>
</body>

</html>