<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Swap Gallery</title>
    <link rel="stylesheet" href="style.css">
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h1>Skill Swap Company Showcase</h1>
    </header>
    <br>
    <button id="backbtn" onclick="window.location.href = '/index'">Go Back Home</button>
    <h2 style="margin-bottom: 2%; margin-top: -0.5%;">Post a picture of what your company does!</h2>

    <!-- Container for images -->
    <div id="imageContainer"></div>

    <script>
        // JavaScript to dynamically load images
        const imgFolder = 'img/';
        const imgArray = [
            'formbarone.jpg',
            'formbartwo.jpg',
            'formbarthree.jpg',
            'formbarfour.jpg',
            'formbarfive.jpg',
            'formbarsix.jpg',
        ];

        const imageContainer = document.getElementById('imageContainer');

        imgArray.forEach(img => {
            const imgElement = document.createElement('img');
            imgElement.src = imgFolder + img;
            imgElement.width = 400;
            imageContainer.appendChild(imgElement);
        });

        
    </script>

    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>
    
</body>

</html>

