body {
    font-family: monospace;
    font-size: 125%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d5b1ff;
}

header, footer {
    background-color: #52318f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    letter-spacing: 0.1em;
    font-size: 115%;
}

main {
    flex: 1; /* Grow to fill the available vertical space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

section {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

button {
    width: 10%;
    padding: 1em;
    border: 1px solid #43135a;
    border-radius: 10px;
    background-color: #a97fbb;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* LOGIN PAGE */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: 3px solid #753194;
    border-radius: 10px;
    background-color: #e0c5ff;
    /* make the box smaller and centered in the page */
    width: 50%;
    margin: 0 auto;
}

/* make the t-box class have a width of 20% and padding of 2% */
.t-box {
    width: 100%;
    padding: 2%;
    margin-bottom: 1em;
    margin-top: 1%;
    border: 1px solid #43135a;
    border-radius: 10px;
}

/* CREATE ACCOUNT PAGE */
#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: 3px solid #753194;
    border-radius: 10px;
    background-color: #e0c5ff;
    /* make the box smaller and centered in the page */
    width: 50%;
    margin: 0 auto;
} 

.t-box {
    width: 20%;
    padding: 2%;
    margin-bottom: 1em;
    margin-top: 1%;
    border: 1px solid #43135a;
    border-radius: 10px;
}

/* MAIN PAGE: USER PROFILES */

#logout {
    width: 10%;
    padding: 1em;
    border: 1px solid #5a3497;
    border-radius: 10px;
    background-color: rgb(238, 221, 255);
    color: #fff;
    font-weight: bold;
    margin-bottom: 1em;
}

#user-profiles, #skill-listings {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.user-profile, .skill-listing {
    border: 3px solid #5a3497;
    border-radius: 2;
    padding: 12px;
    width: 200px;
    text-align: center;
}
