body {
    font-family: monospace;
    font-size: 125%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d5b1ff;
}

header, footer {
    background-color: #52318f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    letter-spacing: 0.1em;
    font-size: 115%;
}

footer {
    margin-top: auto;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 2em;
}

section {
    margin-bottom: 20px;
    margin: auto auto;
}

button {
    padding: 1em;
    border: 1px solid #43135a;
    border-radius: 10px;
    background-color: #a97fbb;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    background-color: #43135a;
}

/* LOGIN PAGE / CREATE ACCOUNT PAGE / SIGNUP PAGE / PROFILES PAGE*/

#profilePage, #login, #signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: 3px solid #753194;
    border-radius: 10px;
    background-color: #e0c5ff;
    width: 35%;
    margin: 0 auto;
}

#loginbtn, #signupbtn, #logoutbtn {
    width: auto;
    padding: 1em;
    border: 1px solid #43135a;
    border-radius: 10px;
    background-color: #a97fbb;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.t-box {
    width: 30%;
    padding: 2%;
    margin-bottom: 1em;
    margin-top: 1%;
    border: 1px solid #43135a;
    border-radius: 10px;
}

#juniorlbl, #seniorlbl {
    height: 1em;
    border: solid black 2px;
}

#class-junior {
    order: 1;
    width: 50%;
}

#class-senior {
    order: 2;
    width: 50%;
}

#juniorlbl {
    order: 1;
    margin: 1em;
    text-align: center;
    z-index: 2;
}

#seniorlbl {
    order: 2;
    margin: 1em;
}

#user-profiles {
    display: flex;
    gap: 5px;
}

#user-profile {
    border: 3px solid #5a3497;
    border-radius: 2;
    padding: 12px;
    width: 75%;
    height: 90%;
    text-align: center;
    cursor: pointer;
    background-color: rgb(222, 193, 255);
    overflow: hidden;
}

.search {
    /* center the items in the form */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin-bottom: 1em;
    margin-top: 1%;
    border-radius: 10px;
    gap: 5px;
}

.search.t-box {
    padding: auto;
    border: 1px solid #43135a;
    border-radius: 10px;
}

#searchbtn {
    text-align: center;
    margin: 0;
    border: 1px solid #43135a;
    border-radius: 10px;
    background-color: #9267a5;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#profilePage {
    margin-top: 2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1000px) {
    .search {
        /* center the items in the form */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1em;
        margin-top: 1%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 900px) {
    #login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
        border: 3px solid #753194;
        border-radius: 10px;
        background-color: #e0c5ff;
        min-width: 70%;
        max-width: 90%;
        margin: 0 auto;
    }

    #signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
        border: 3px solid #753194;
        border-radius: 10px;
        background-color: #e0c5ff;
        min-width: 70%;
        max-width: 90%;
        margin: 0 auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1em;
        margin-top: 1%;
        border-radius: 10px;
    }
    
    .search.t-box {
        width: auto;
        padding: 2%;
        margin-bottom: 1em;
        margin-top: 1%;
        border: 1px solid #43135a;
        border-radius: 10px;
    }
}

@media screen and (min-height: 1100px){
    #user-profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #user-profile {
        margin: auto;
        width: 70%;
    }

    .search {
        /* center the items in the form */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
        margin-bottom: 1em;
        margin-top: 2%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    #login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
        border: 3px solid #753194;
        border-radius: 10px;
        background-color: #e0c5ff;
        /* width: auto; */
        min-width: 70%;
        max-width: 90%;
        margin: 0 auto;
    }

    #signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
        border: 3px solid #753194;
        border-radius: 10px;
        background-color: #e0c5ff;
        /* width: auto; */
        min-width: 70%;
        max-width: 90%;
        margin: 0 auto;
    }

    #user-profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #user-profile {
        margin: auto;
        margin-left: -6%;
        width: 100%;
    }

    .search {
        /* center the items in the form */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 110%;
        margin-bottom: 1em;
        margin-top: 1%;
        border-radius: 10px;
    }
    
    .search.t-box {
        width: auto;
        padding: 2%;
        margin-bottom: 1em;
        margin-top: 1%;
        border: 1px solid #43135a;
        border-radius: 10px;
    }
}